#img-bg{
    background-image: url('https://www.kraken.com/_assets/files/2019-01/kraken_body02_final_02/768.webp');
    min-height: 695px;
    background-position: center;
    background-repeat:  no-repeat;
    background-size: cover;
}
button{
    color: rgba(255, 246, 246, 0.623);
    margin-left: 15px;
    border: none;
}
.col-md-6{
    font-family: 'Courier New', Courier, monospace;
}
.bn30 {
    border: 5em;
    cursor: pointer;
    outline: none;
    font-size: 17px;
    -webkit-transform: translate(0);
    transform: translate(0);
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
    padding: 0.7em 2em;
    border-radius: 65px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    color: rgb(0, 0, 0);
    
  }
  
  .bn30 .text {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  }
  
  .bn30:after {
    content: "";
    border-radius: 18px;
    position: absolute;
    margin: 4px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: #ffffff;
  }
  
  .bn30:hover {
    background-image: linear-gradient(-65deg, #4568dc, #b06ab3);
    box-shadow: 0 12px 24px rgba(250, 180, 244, 0.979);
  }
  
  .bn30:hover .text {
    background-image: linear-gradient(-65deg, #4568dc, #b06ab3);
  }